<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
    <title>AngularJS Forms Demo</title>
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="RegisterCtrl">
      <form role="form" class="form-horizontal" name="form">
        <div class="form-group" ng-class="{'has-error': form.mail.$dirty && form.mail.$invalid}">
          <label class="control-label">E-mail:</label>
          <input type="email" name="mail" class="form-control" ng-model="mail" placeholder="E-mail address" required />
          <span class="help-block" ng-show="form.mail.$dirty && form.mail.$error.required">Please provide your e-mail adress, eg. me@example.org</span>
          <span class="help-block" ng-show="form.mail.$dirty && form.mail.$error.email">The mail address you provided is not a valid mail address</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.username.$dirty && form.username.$invalid}">
          <label class="control-label">Username:</label>
          <input type="text" name="username" class="form-control" ng-model="username" placeholder="Username" required maxlength="16" ng-filtered="validUsername($value)" />
          <span class="help-block" ng-show="form.username.$dirty && form.username.$error.required">Please provide the username you would like to have</span>
          <span class="help-block" ng-show="form.username.$dirty && form.username.$error.maxlength">Your username should be no longer than 16 characters</span>
          <span class="help-block" ng-show="form.username.$dirty && form.username.$error.filtered">That username is already taken</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
          <label class="control-label">Password:</label>
          <input type="password" name="password" class="form-control" ng-model="password" placeholder="Password" required ng-pattern="passwordPattern" />
          <span class="help-block" ng-show="form.password.$dirty && form.password.$error.required">Please enter a password</span>
          <span class="help-block" ng-show="form.password.$dirty && form.password.$error.pattern">Your password should be at least 8 characters long, and contain an uppercase letter and a number</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password2.$dirty && form.password2.$invalid}">
          <label class="control-label">Repeat password:</label>
          <input type="password" name="password2" class="form-control" ng-model="password2" placeholder="Repeat password" required ng-equals="password" />
          <span class="help-block" ng-show="form.password2.$dirty && form.password2.$error.required">Please enter a password</span>
          <span class="help-block" ng-show="form.password2.$dirty && form.password2.$error.equals">Passwords do not match</span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-lg" ng-disabled="form.$invalid">Register</button>
        </div>
      </form>
    </div>
    
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

    <script type="text/javascript" src="app/js/app.js"></script>
    <script type="text/javascript" src="app/js/controllers.js"></script>
    <script type="text/javascript" src="app/js/directives.js"></script>
  </body>
</html>
